nav {
    display: flex;
    background-color: #3a4267;
    justify-content: flex-end;
    height: 50px;
  }

  nav a {
    color: #cecfd1;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Squada One', cursive;
    font-size: 130%;
  }

aside {
    display: flex;
    flex-direction: row;
}

h2 {
    font-family: 'Squada One', cursive;
    color: #cecfd1;
    padding-left: 20px;
}

p {
    font-family: 'K2D', sans-serif;
    font-size: smaller;
}

h3 {
    font-family: 'K2D', sans-serif;
    font-size: smaller;
}

.work-01 {
    width: 100%;
}

.lead-left {
    display:flex;
    flex-direction: column;
    width: 40%;
    margin-top: -50px;
  }

  .lead-right {
    display:flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    
  }

  .rounded {
    border-top: 8px solid #3a4267;
    border-radius: 5px;
    margin-top: -0px;
  }


  .parent {
    display:flex;
    flex-direction: column;
    min-width: 320px;
    border-style:solid;
    border-color: #3a4267;
    margin-top: 35px;
    padding: 20px;
    border-radius: 7px;
}

.parent {
    background: #F9D9A3;
background: -moz-linear-gradient(top, #F9D9A3 0%, #CEAB6A 100%);
background: -webkit-linear-gradient(top, #F9D9A3 0%, #CEAB6A 100%);
background: linear-gradient(to bottom, #F9D9A3 0%, #CEAB6A 100%);
}

.module-head {
    background-color: #3a4267;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -48px;
    margin-bottom: 5px;
}


.module-head-02 {
    background-color: #3a4267;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -37px;
    margin-left: 20px;
}

.parent-02 {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 320px;
    border-style:solid;
    border-color: #3a4267;
    margin-top: 35px;
    padding: 20px;
    border-radius: 7px;
}

.parent-02 {
    background: #F9D9A3;
background: -moz-linear-gradient(top, #F9D9A3 0%, #CEAB6A 100%);
background: -webkit-linear-gradient(top, #F9D9A3 0%, #CEAB6A 100%);
background: linear-gradient(to bottom, #F9D9A3 0%, #CEAB6A 100%);
}

.work-box-01 {
    flex: 1 0 60%;
    min-width: 320px;
    /*border-style:groove;*/
    /*border-color: rgb(210, 211, 214);*/
    margin-top: 35px;
    padding: 20px;
    border-radius: 7px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.parent-03 {
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    flex: 1 0 30%;
}

.work-box-02 {
    /*border-style:groove;*/
    /*border-color: rgb(210, 211, 214);*/
    margin-top: 35px;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.work-head {
    background-color: #6a5a1e;
    width: 250px;
    border-radius: 7px;
    padding-left: 20px;
    padding-bottom: 3px;
    margin-top: -30px;
    margin-bottom: 5px;
    color: aliceblue;
}


.parent-04 {
    display:flex;
    flex-direction: column;
    min-width: 320px;
    border-style:solid;
    border-color: #3a4267;
    margin-top: 35px;
    padding: 20px;
    width: 100%;
    background: #3A4267;
background: -moz-linear-gradient(top, #3A4267 0%, #191D2D 100%);
background: -webkit-linear-gradient(top, #3A4267 0%, #191D2D 100%);
background: linear-gradient(to bottom, #3A4267 0%, #191D2D 100%);
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Squada One', cursive;
    color: white;
    margin-right: 80px;
    font-size: 110%;
    line-height: 150%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 1000px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .parent-02 {
      flex-direction: column;
    }
    .work-box-01 {
        margin-right: 0px;
    }
       /* Change the header background 
    nav {
      background-color: #772014;
    } */
  }
  














   
  